mqtt:
    host: localhost
    port: 1883
    user: user
    password: secret
    topic: "mqtt/topic/for/airrohr"
airrohr:
    host: "localhost"
    port: 80
    sensors:
      - id: "SDS_P1"
      - id: "SDS_P2"
      - id: "humidity"
      - id: "temperature"
      - id: "BMP280_pressure"
      - id: "BMP280_temperature"
      - id: "samples"
      - id: "min_micro"
      - id: "max_micro"
      - id: "signal"
